[submodule "external/zlog"]
	path = external/zlog
	url = https://github.com/HardySimpson/zlog.git
[submodule "external/pcre2"]
	path = external/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "external/lighttpd1.4"]
	path = external/lighttpd1.4
	url = https://github.com/lighttpd/lighttpd1.4.git
[submodule "external/dev-tools/libite"]
	path = external/dev-tools/libite
	url = https://github.com/troglobit/libite.git
[submodule "external/dev-tools/libuev"]
	path = external/dev-tools/libuev
	url = https://github.com/troglobit/libuev.git
[submodule "external/dev-tools/uftpd"]
	path = external/dev-tools/uftpd
	url = https://github.com/troglobit/uftpd.git
[submodule "external/dev-tools/dropbear"]
	path = external/dev-tools/dropbear
	url = https://github.com/mkj/dropbear.git
[submodule "external/mbedtls"]
	path = external/mbedtls
	url = https://github.com/Mbed-TLS/mbedtls.git
